<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments1 :: head"></head>
<body class="container">

    <nav th:replace="fragments1 :: navigation"></nav>

    <form method="post">
        <div class="form-group">
            <input type="hidden" th:value="${movie.id}" th:field="${movieTag.movie}">
            <select th:field="${movieTag.tag}">
                <option th:each="tag : ${tags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"
                >
                </option>
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Add Tag">
    </form>


</body>
</html>