<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments1 :: head"></head>
<body class="container">

    <nav th:replace="fragments1 :: navigation"></nav>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Movie Name</th>
            </tr>
        </thead>

        <tr th:each="movie : ${movies}">
            <td><a th:href="'/movies/detail?movieId=' + ${movie.id}" th:text="${movie.name}"></a></td>
        </tr>
    </table>

</body>
</html>